.admin-panel {
  height: 10%;
  background-color: rgba(138, 136, 117, 0.3);
  border: 1px solid rgba(1, 1, 1, 0);
  box-shadow: 0 0 10px 3px rgba(138, 136, 117, 0.3);
  border-radius: 30px;
  margin: 0 20px;
  display: flex;
  justify-content: center;
}
.admin-panel:hover {
  border: 1px solid rgba(225, 225, 225, 0.11);
}

.change-theme {
  margin-top: 12px;
  width: 60px;
  height: 60px;
  border: 2px solid white;
  border-radius: 100px;
  text-align: center;
  background-color: rgba(225, 225, 225, 0.8);
  cursor: pointer;
}
.change-theme:hover {
  background-color: rgba(225, 225, 225, 0.3);
}

.image-palitra {
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin: 10px;
}
.image-palitra-relative {
  position: relative;
}

.div-for-set-choose-theme {
  position: absolute;
  background-color: rgba(45, 45, 42, 0.7);
  border: 2px solid white;
  width: 100px;
  height: 90px;
  margin-left: 140%;
  bottom: -16px;
  border-radius: 35px;
}

.item-choose-theme {
  margin-top: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-inner-item-one {
  width: 5px;
  height: 5px;
  padding: 10px;
  background-color: yellow;
  border-radius: 200px;
  border: 2px solid black;
}

.div-inner-item-two {
  width: 5px;
  height: 5px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 200px;
  border: 2px solid black;
}

.div-inner-item-two:hover,
.div-inner-item-one:hover {
  box-shadow: 0 0 10px 5px rgba(213, 213, 205, 0.3);
  cursor: pointer;
}

@media (max-width: 1700px) {
  .admin-panel {
    width: 97%;
    margin: 10px auto 20px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }
  .change-theme {
    margin-top: 0;
  }
}
