.calendar {
  background-color: rgba(138, 136, 117, 0.3);
  box-shadow: 0 0 15px 5px rgba(138, 136, 117, 0.3);
  border-radius: 30px;
  margin: 0 20px;
  border: 1px solid rgba(1, 1, 1, 0);
  height: 37%;
  margin-bottom: 15px;
}
.calendar:hover {
  border: 1px solid rgba(225, 225, 225, 0.11);
}

.title-and-btn-calendar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0db22;
  box-shadow: 0 0 5px 3px rgba(240, 219, 34, 0.4);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  text-align: center;
  color: black;
  font-size: 22px;
  padding: 3px 0;
  font-size: 20px;
}
.calendar-icon-left {
  cursor: pointer;
  width: 10px;
  height: 10px;
  border-top: 5px solid black;
  border-right: 5px solid black;
  transform: rotate(-135deg);
  margin-left: 20px;
}
.calendar-icon-left:hover {
  border-top: 5px solid white;
  border-right: 5px solid black;
  box-shadow: 3px -3px 5px 1px rgba(1, 1, 1, 0.3);
}
.calendar-icon-right {
  cursor: pointer;
  width: 10px;
  height: 10px;
  border-top: 5px solid black;
  border-right: 5px solid black;
  transform: rotate(45deg);
  margin-right: 20px;
}
.calendar-icon-right:hover {
  border-top: 5px solid white;
  border-right: 5px solid black;
  box-shadow: 5px -3px 5px 1px rgba(1, 1, 1, 0.3);
}

/* .title-calendar {
  background-color: #f0db22;
  box-shadow: 0 0 5px 3px rgba(240, 219, 34, 0.4);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  text-align: center;
  color: black;
  font-size: 22px;
  padding: 3px 0;
} */

.day-of-calendar {
  width: 100%;
}
.days-of-week-set {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #f0db22;
}
.nameDay {
  margin-top: 25px;
  background-color: black;
  border-radius: 50px;
  width: 40px;
  height: 25px;
  text-align: center;
}
.days {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0;
}
.number-day {
  width: 40px;
  height: 25px;
  background-color: rgba(138, 136, 117, 0.7);
  color: white;
  text-align: center;
  border-radius: 50px;
}
.number-day:hover {
  background-color: rgba(138, 136, 117, 0.1);
  transition: 0.2s;
}
.now-day {
  background-color: #f0db22;
  color: black;
}
.now-day:hover {
  background-color: white;
}

@media (max-width: 1700px) {
  .calendar {
    width: 97%;
    margin: 10px auto;
    height: 130px;
  }
  .title-and-btn-calendar {
    font-size: 18px;
  }
  .days-of-week-set {
    height: 45px;
  }
  .number-day {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 30px;
    font-size: 32px;
  }
  .nameDay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 30px;
    font-size: 28px;
    margin-bottom: 15px;
  }

  .title-and-btn-calendar {
    display: flex;
    justify-content: center;
  }

  .string-to-bottom {
    margin-left: 30px;
    border-top: 6px solid rgb(144, 136, 136);
    border-right: 6px solid rgb(144, 136, 136);
    padding: 5px;
    transform: rotate(135deg);
    cursor: pointer;
    margin-bottom: 5px;
    margin-right: 20px;
    transition: 0.5s;
  }
  .string-to-bottom-click {
    transform: rotate(-405deg);
    transition: 0.5s;
    margin-top: 8px;
  }
}

@media (max-width: 680px) {
  .title-and-btn-calendar {
    font-size: 14px;
  }
  .string-to-bottom {
    border-top: 4px solid rgb(144, 136, 136);
    border-right: 4px solid rgb(144, 136, 136);
  }
  .calendar-icon-right {
    border-top: 3px solid black;
    border-right: 3px solid black;
  }
  .calendar-icon-left {
    border-top: 3px solid black;
    border-right: 3px solid black;
  }
  .nameDay,
  .number-day {
    width: 35px;
    font-size: 18px;
  }
}
